
<h2>Animals</h2>

<p>Click on the animals name for more information.</p>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Admission Date</th>
  </tr>

<% @animals.each do |animal| %>
<tr>
<td><a href="/animals/<%= animal.id %>"> <%= animal.name() %></a> </td>
<td><%= animal.type() %> </td>
<td><%= animal.breed() %> </td>
<td><%= animal.admission_date() %> </td>
</tr>
<% end %>
</table>


<a class="button" href="/animals/new">Add Animal</a>
