
<div class="details">
<p>Name: <%= @animal.name %></p>
<p>Type: <%= @animal.type %></p>
<p>Breed: <%= @animal.breed%></p>
<p>Image: <%= @animal.image%></p>
<p>Gender: <%= @animal.gender%></p>
<p>Health: <%= @animal.health%></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Adoptable: <%= @animal.adoptable %></p>
<p>Age: <%= @animal.age %></p>

</div>
<form method="post" action="/animals/<%= @animal.id %>/delete">
  <input id="remove_animal_button" type="submit" value="Remove Animal"/>
</form>

<a class="button" href="/animals/<%= @animal.id %>/edit">Edit Animal</a>
